.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  #112432;
    width: 100vw;
    text-align: center;
    height: 8vh;
}

.NavText{
    text-align: center;
    color: white;
    text-decoration: none;
    padding-top: 4vh;
    padding-bottom: 4vh;
    flex-grow: 1; /* Damit der Text die maximal verfügbare breite einnimmt */
    font-weight: bold;
    
}

.NavTextCurrent{
    background: linear-gradient(to bottom, #617784, #748f9a); /* Faded background on hover */
}

.borderRight{
    border-right: solid 1px;
    border-color: white;
}

.borderBot{
    border-bottom: 1px solid;
    border-color: white;
}
.borderTop{
    border-top: 1px solid white;
}

.NavText:hover{
    background: linear-gradient(to right, #617784, #748f9a); /* Faded background on hover */
    color: white;
}

.Logo{
    width: 9vh;
    height: auto;
    margin: 1vh 0;
    padding: 0 2px;
}

.LogoContainer{
    width: 9vh;
    height: 9vh;
}

.sidePanel{
    display: flex;
    top: 0;
    background-color:  #112432;
    height: 92vh;
    max-height: 100%;
    width: 9vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.linkVerticalApp{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
}

.linkVerticalApp:hover{
    background: linear-gradient(to bottom, #617784, #748f9a); /* Faded background on hover */
    color: white;
}

.textVertical{
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: white;
    font-weight: bold;
    text-decoration: none;
}