.VerticalNextToContent{
    display: flex;
    align-content: center;
}
  
.content{
    flex: 9;
    height: 92vh;
    max-height: 90%;
    
    background-color: white;
    overflow-y: scroll;
    padding-left: 15px;
}


